:root {
    --black: #2b2a2c;
    --gray:  #E7E7E7;
    --green: #5CF174;
    --white: #ffffff;
 	--dark_green: #358c44;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
    background-color: var(--gray);
}

p {
    margin: 0 0 1rem;
}

.header {
	width: 100%;
	height: 5rem;
	background-color: #ffffff;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	position: fixed;
}

.logo {
	width: 20%;
	height: 3rem;
	margin-left: 40%;
	margin-top: 0.75rem;
	float: left;
	position: fixed;
}

.logo_image {
	width: 100%;
	margin-top: 0.2rem;
}

.logo_image:hover {
	opacity: 35%;
	transition: 0.5s;
}


.navbar {
	float: left;
	margin-left: 6%;
	transition: 0.5s;
}



.menu_img {
	margin-top: 1rem;
	width: 2rem;
	height: auto;
	float: left;
}

.catalog {
	font-size: 0.9rem;
	margin-top: 1.1rem;
	margin-left: 1rem;
	float: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1.3rem;
	line-height: 19px;
}

.menu_button {
	margin-top: 0.5rem;
	border: none;
  	font-size: 10px;
  	cursor: pointer;
  	height: 50px;
  	background: 0 0;
  	width: 140px;
  	white-space: nowrap;
  	text-align: left;
  	outline: none;
}

.menu_button:hover {
	opacity: 35%;
	transition: 0.5s;
	outline: none;
}

.menu_button:active {
	outline: none;
}

.header_icons {
	height: 100%;
	width: 20%;
	float: right;
	margin-right: 6%;
	transition: 0.5s;
}

.finder {
	height: 100%;
	width: 3.5rem;
	float: right;
	padding-right: 1rem;
	border-right: 1px solid #000000;
	margin-left: 1rem;
	transition: 0.8s;
}

.finder_img {
	display: block;
	margin: 1.7rem auto;
}

.bucket {
	height: 100%;
	width: 3.5rem;
	float: right;
	padding-right: 1rem;
	border-right: 1px solid #000000;
	margin-left: 1rem;
	transition: 0.8s;

}

.bucket_img {
	display: block;
	margin: 1.2rem auto;
}

.weapon_icon {
	height: 100%;
	width: 3.5rem;
	float: right;
	padding-right: 1rem;
	padding-left: 1rem;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	transition: 0.5s;

}

.weapon_img {
	display: block;
	margin: 1.2rem auto;
}

.bucket:hover {
	opacity: 35%;
	transition: 0.5s;
}

.weapon_icon:hover {
	opacity: 35%;
	transition: 0.5s;
}

.finder:hover {
	opacity: 35%;
	transition: 0.5s;
}

.sidebar {
	width: 5%;
	height: 220px;
	position: fixed;
	margin-left: 95%;
	margin-top: 250px;
}

.step1 {
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 5px;
	width: 90%;
	height: 80px;
	background-color: white;
	border: 2px solid #e1e1e1;
}

.step2 {
	margin: 5px auto;
	width: 90%;
	height: 80px;
	background-color: var(--green);
	border: 2px solid #e1e1e1;
}

.step3 {
	margin: 0 auto;
	margin-top: 5px;
	width: 90%;
	height: 80px;
	background-color: white;
	border: 2px solid #e1e1e1;
}

.steps_img {
	display: block;
	margin: auto;
	margin-top: 30%;
}

.smoke {
	position: fixed;
	z-index: -1;
/*	background-image: url(images/bg_im.png);
*/}

.smoke_im {
	z-index: -2;
	width: 1920px;
	margin-top: -900px;
	margin-left: -125px;
}

.constructor {
	width: 100%;
	height: 50rem;
}

.container{
	width: 88%;
	margin:0 auto;
}

.name {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	display: inline-block;
	color: #000000;
	margin-top: 8rem;
}

.weapon {
	margin: 0 auto;
	width: 70%;
	height: 350px;
}

.weapons_img {
	width: 100%;
	margin-top: -150px;
}

.step3_img {
	width: 55%;
	margin: auto;
	margin-top: 20%;
}

.text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;

	color: #000000;
}

.carusel {
	width: 100%;
	height: 200px;
}

.carusel_block1 {
	border: 2px solid #e1e1e1;
	float: left;
	background-color: white;
	height: 100%;
	width: 29%;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.carusel_block2 {
	border: 2px solid #e1e1e1;
	float: left;
	margin-left: 5%;
	background-color: white;
	height: 100%;
	width: 30%;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.carusel_block3 {
	border: 2px solid #e1e1e1;
	float: left;
	margin-left: 5%;
	background-color: white;
	height: 100%;
	width: 30%;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.base {
	margin: 0 auto;
	width: 70%;
	height: 350px;
}



.points {
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
  position: absolute;
  background: #ea0000;
  border-radius: 10px;
  box-shadow: 0 0 10px #ea0000;
  cursor: pointer;
  z-index: 21;
  transition: opacity 0.3s;
}

.points:hover {
    background: #b02a36;
    box-shadow: 0 0 10px #b02a36;
}

.base {
	margin-left: 23%;
	margin-top: 50px;
}

.base_img {
	z-index: 0;
	position: absolute;
}

.gasblock_point{
	margin-left: 752px;
	margin-top: 30px;
}

.cevie_point{
	margin-left: 482px;
	margin-top: 30px;
}

.priklad_point{
	margin-left: 120px;
	margin-top: 35px;
}

.grip_point{
	margin-left: 265px;
	margin-top: 110px;
}

.scope_point{
	margin-left: 330px;
}

.dtk_point{
	margin-left: 1010px;
	margin-top: 31px;
}

.gasblock1_img {
	position: absolute;
	z-index: 1;
	margin-left: 716px;
	margin-top: -48px;
}

.gasblock2_img {
	position: absolute;
	z-index: 2;
	margin-left: 730px;
	margin-top: 12px;
}

.gasblock3_img {
	position: absolute;
	z-index: 3;
	margin-left: 740px;
	margin-top: 12px;
}

.cevie_img1 {
	position: absolute;
	z-index: 4;
	margin-left: 457px;
}

.cevie_img2 {
	position: absolute;
	z-index: 5;
	margin-left: 456px;
}

.cevie_img3 {
	position: absolute;
	z-index: 6;
	margin-left: 453px;
}

.priklad1_img {
	position: absolute;
	z-index: 7;
	margin-left: -90px;
	margin-top: 16px;
}

.priklad2_img {
	position: absolute;
	z-index: 8;
	margin-left: -82px;
	margin-top: 16px;
}

.priklad3_img {
	position: absolute;
	z-index: 9;
	margin-left: -64px;
	margin-top: 21px;
}

.grip1_img {
	position: absolute;
	z-index: 10;
	margin-left: 171px;
	margin-top: 102px;
}

.grip2_img {
	position: absolute;
	z-index: 10;
	margin-left: 177px;
	margin-top: 77px;
}

.grip3_img {
	position: absolute;
	z-index: 10;
	margin-left: 207px;
	margin-top: 76px;
}

.dtk1_img {
	position: absolute;
	z-index: 10;
	margin-left: 1000px;
	margin-top: 24px;
}

.dtk2_img {
	position: absolute;
	z-index: 10;
	margin-left: 1000px;
	margin-top: 15px;
}

.dtk3_img {
	position: absolute;
	z-index: 10;
	margin-left: 1000px;
	margin-top: 22px;
}

.scope1_img {
	position: absolute;
	z-index: 10;
	margin-left: 234px;
	margin-top: -47px;
}

.scope2_img {
	position: absolute;
	z-index: 10;
	margin-left: 110px;
	margin-top: -87px;
}

.scope3_img {
	position: absolute;
	z-index: 10;
	margin-left: 300px;
	margin-top: -80px;
}